<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <body class="is-preload">
    <th:block th:fragment="content">
        <!-- Main -->
        <div id="main">
            <div class="inner">
                <header>
                    <h1>Board</h1>
                    <th:block th:if="${member}">
                        <p>[[${member.musername}]]님</p>
                    </th:block>
                </header>

                <section class="tiles">
                    <article class="style1">
                        <th:block th:each="list : ${lists}">
                            <span class="image">
                                <img src="/images/pic01.jpg" alt="" />
                            </span>
                            <a th:href="@{/board/post(bno=${list.bno})}">
                                <h2 th:text="${list.bwriter}"></h2>
                                <div class="content">
                                    <p th:text="${list.btitle}"></p>
                                </div>
                            </a>
                        </th:block>
                    </article>
                </section>

                <br>
                <th:block th:if="${member}">
                    <section style="float: right;">
                        <form action="/board/write">
                            <input type="submit" value="Write" class="primary"/>
                        </form>
                    </section>
                </th:block>
            </div>
        </div>
    </th:block>
    </body>
</th:block>
</html>